<div class="page-title-area title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Our Attorneys</h2>

                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li>Attorneys</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="team-area team-area-two pt-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-3">
                <div class="team-item wow fadeInUp" data-wow-delay=".3s">
                    <img src="assets/img/home-one/team/1.jpg" alt="Team">

                    <div class="team-inner">
                        <h3><a routerLink="/attorney-details" [queryParams] = "{ id: 'Malik Khalid Mehmood Walayet' }">Malik Khalid Mehmood Walayet</a></h3>
                        <span>Founding Partner</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="team-item wow fadeInUp" data-wow-delay=".4s">
                    <img src="assets/img/home-one/team/2.jpg" alt="Team">
                    
                    <div class="team-inner">
                        <h3><a routerLink="/attorney-details" [queryParams] = "{ id: 'Malik Saqib Mehmood Khalid' }">Malik Saqib Mehmood Khalid (AHC)</a></h3>
                        <span>Partner</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="team-item wow fadeInUp" data-wow-delay=".6s">
                    <img src="assets/img/home-one/team/4.jpg" alt="Team">
                    
                    <div class="team-inner">
                        <h3><a routerLink="/attorney-details" [queryParams] = "{ id: 'Muhammad Usama Rauf' }">Mr. Muhammad Usama Rauf</a></h3>
                        <span>Partner</span>
                    </div>
                </div>
            </div>

            </div>

        <div class="row justify-content-center">

            <div class="col-sm-6 col-lg-3">
                <div class="team-item wow fadeInUp" data-wow-delay=".5s">
                    <img src="assets/img/home-one/team/3.jpg" alt="Team">
                    
                    <div class="team-inner">
                        <h3><a routerLink="/attorney-details" [queryParams] = "{ id: 'Waqar A. Sheikh' }">Mr. Waqar A. Sheikh (ASC)</a></h3>
                        <span>Senior Consultant</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="team-item wow fadeInUp" data-wow-delay=".6s">
                    <img src="assets/img/home-one/team/4.jpg" alt="Team">
                    
                    <div class="team-inner">
                        <h3><a routerLink="/attorney-details" [queryParams] = "{ id: 'Nadeem Sheikh' }">Mr. Nadeem Sheikh (ASC)</a></h3>
                        <span>Senior Consultant</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="team-item wow fadeInUp" data-wow-delay=".3s">
                    <img src="assets/img/home-one/team/5.jpg" alt="Team">
                    
                    <div class="team-inner">
                        <h3><a routerLink="/attorney-details" [queryParams] = "{ id: 'Mian Abdul Rauf' }">Mr. Mian Abdul Rauf (ASC)</a></h3>
                        <span>Senior Consultant</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="row justify-content-center">

            <div class="col-sm-6 col-lg-3">
                <div class="team-item wow fadeInUp" data-wow-delay=".4s">
                    <img src="assets/img/home-one/team/6.jpg" alt="Team">
                    
                    <div class="team-inner">
                        <h3><a routerLink="/attorney-details" [queryParams] = "{ id: 'Khawar Munir' }">Mr. Khawar Munir (AHC)</a></h3>
                        <span>Associate Partner</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="team-item wow fadeInUp" data-wow-delay=".5s">
                    <img src="assets/img/home-one/team/7.jpg" alt="Team">
                    
                    <div class="team-inner">
                        <h3><a routerLink="/attorney-details" [queryParams] = "{ id: 'Misbah Ashaq' }">Mrs. Misbah Ashaq (AHC)</a></h3>
                        <span>Associate Partner</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="team-item wow fadeInUp" data-wow-delay=".6s">
                    <img src="assets/img/home-one/team/8.jpg" alt="Team">
                    
                    <div class="team-inner">
                        <h3><a routerLink="/attorney-details" [queryParams] = "{ id: 'Adil Mehmood Mirza' }">Mr. Adil Mehmood Mirza (AHC)</a></h3>
                        <span>Associate Partner</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="row justify-content-center">

            <div class="col-sm-6 col-lg-3">
                <div class="team-item wow fadeInUp" data-wow-delay=".6s">
                    <img src="assets/img/home-one/team/8.jpg" alt="Team">
                    
                    <div class="team-inner">
                        <h3><a routerLink="/attorney-details" [queryParams] = "{ id: 'Saqiba Basharat' }">Miss Saqiba Basharat (AHC)</a></h3>
                        <span>Associate Partner</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="team-item wow fadeInUp" data-wow-delay=".6s">
                    <img src="assets/img/home-one/team/8.jpg" alt="Team">
                    
                    <div class="team-inner">
                        <h3><a routerLink="/attorney-details" [queryParams] = "{ id: 'Malik Shahzaib' }">Mr. Malik Shahzaib (AHC)</a></h3>
                        <span>Associate Partner</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="team-item wow fadeInUp" data-wow-delay=".6s">
                    <img src="assets/img/home-one/team/8.jpg" alt="Team">
                    
                    <div class="team-inner">
                        <h3><a routerLink="/attorney-details" [queryParams] = "{ id: 'Ali Irtaza' }">Mr. Ali Irtaza (AHC)</a></h3>
                        <span>Associate Partner</span>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
</section>