<div class="page-title-area title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Practice Details</h2>

                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li>Practice Details</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="practice-details-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="practice-details-item">
                    <div class="practice-details-content" *ngIf = "nameOfLaw === 'ADR Law'">
                        <div class="section-title text-start">
                            <h2>Alternate Dispute Resolution (ADR) and Arbitration</h2>
                        </div>
                        <p> Dispute resolution is an indispensable process for making social
                            life peaceful. Dispute resolution process tries to resolve and check
                            conflicts, which enables persons and group to maintain co-operation. It
                            can thus be alleged that it is the sin qua non of social life and security of
                            the social order, without which it may be difficult for the individuals to
                            carry on the life together. <br />
                            
                            Alternate Dispute Resolution (ADR) is a term used to describe
                            several different modes of resolving legal disputes. It is experienced by
                            the business world as well as common men that it is impracticable for
                            many individuals to file law suits and get timely justice. The Courts are
                            backlogged with dockets resulting in delay of year or more for the parties
                            to have their cases heard and decided. To solve this problem of delayed
                            justice ADR Mechanism has been developed in response thereof. 
                        </p>
                    </div>


                    <div class="practice-details-content" *ngIf = "nameOfLaw === 'Labour Law'">
                        <div class="section-title text-start">
                            <h2>Management and Labour Employment Law</h2>
                        </div>
                        <p> Workers are protected by the Labour Employment Law as per the constitution of Pakistan. We offer experienced
                            attorneys that can help you with the management and the labour employment. 
                        </p>
                    </div>


                    <div class="practice-details-content" *ngIf = "nameOfLaw === 'Admin Law'">
                        <div class="section-title text-start">
                            <h2>Regulatory and Administrative Law</h2>
                        </div>
                        <p> We regularly practice before administrative agencies and commissions at the
                            federal, provincial, and local levels. We have experience with licensing, 
                            permitting, compliance, enforcement, rulemaking, zoning, land use, and other
                            regulatory issues. 
                        </p>
                    </div>


                    <div class="practice-details-content" *ngIf = "nameOfLaw === 'Banking Law'">
                        <div class="section-title text-start">
                            <h2>Commercial and Banking</h2>
                        </div>
                        <p> Commercial lending is an important area of practice for us. Although our 
                            expertise covers the spectrum of commercial lending transactions, the bulk of 
                            our work falls into two areas. One representation of banks, insurance companies,
                            and other clients that lend money, and two represents businesses and 
                            individuals that borrow regularly.
                        </p>
                    </div>


                    <div class="practice-details-content" *ngIf = "nameOfLaw === 'Litigation Law'">
                        <div class="section-title text-start">
                            <h2>Litigation Group</h2>
                        </div>
                        <p> We handle virtually all kinds of civil, criminal, and commercial 
                            litigation at the administrative, trial court, and appellate levels 
                            and through the various channels of alternative dispute resolution. 
                            We practice regularly in all provincial trial Courts, High Courts, and 
                            the Supreme Court of Pakistan. We all so manage litigation in 
                            international jurisdiction in collaboration with law firms in those 
                            jurisdictions.
                        </p>
                    </div>


                    <div class="practice-details-content" *ngIf = "nameOfLaw === 'Corporate Law'">
                        <div class="section-title text-start">
                            <h2>Corporate and Securities</h2>
                        </div>
                        <p> Corporate law is the medium on which predominately all of our firm’s practice 
                            is based. We advise closely-held businesses as well as publicly traded 
                            corporations in a wide variety of areas. We serve the needs of growing 
                            businesses and the venture capital and investment banking firms that provide 
                            them with capital.
                        </p>
                    </div>


                    <div class="practice-details-content" *ngIf = "nameOfLaw === 'Intellectual Law'">
                        <div class="section-title text-start">
                            <h2>Intellectual Property</h2>
                        </div>
                        <p> We have experts who can deal with your needs, as they are fully aware of 
                            the technical as well as legal complications in the field of intellectual 
                            property. As the use and importance of technology in businesses are 
                            growing, the protection of the technology is becoming essential. We help 
                            in drafting agreements and contractual restrictions on the use of 
                            confidential information by employees, outside consultants, or other third 
                            parties. We also help in licensing the use of trade secrets, patents, 
                            trademarks, and copyrights. We also assist in the registration of 
                            copyrights and trademarks.
                        </p>
                    </div>


                    <div class="practice-details-content" *ngIf = "nameOfLaw === 'Constitutional Law'">
                        <div class="section-title text-start">
                            <h2>Constitutional and Public Interest</h2>
                        </div>
                        <p>Every individual and business have rights under the constitution and they 
                            have an inherent right to enjoy the constitutional securities and rights. 
                            However, at times these are violated and we make available our expertise 
                            and services in ensuring that constitutional rights are protected and 
                            enforced. In addition to the matters relating to the Constitution of 
                            Pakistan, we also advise on matters relating to the constitution of public 
                            and private institutions.
                        </p>
                    </div>


                    <div class="practice-details-content" *ngIf = "nameOfLaw === 'Estate Law'">
                        <div class="section-title text-start">
                            <h2>Estate Planning</h2>
                        </div>
                        <p>Estate planning is a process involving the counsel of professional 
                            advisors who are familiar with your goals and concerns, your assets 
                            and how they are owned, and your family structure. It can involve the 
                            services of a variety of professionals, including your lawyer, 
                            accountant, financial planner, life insurance advisor, banker and 
                            broker. <br />
                            Estate planning covers the transfer of property at death as well as a 
                            variety of other personal matters and may or may not involve tax 
                            planning. The core document most often associated with this process is 
                            your will.
                        </p>
                    </div>


                    <div class="practice-details-content" *ngIf = "nameOfLaw === 'Advisory Law'">
                        <div class="section-title text-start">
                            <h2>Advisory and Transaction</h2>
                        </div>
                        <p>Over time, we have realized that to provide a legal structure to a 
                            transaction, the same has to be supported by the financial aspect of the 
                            transaction to make it a one window viable solution. For this purpose, 
                            the firm has recently hired services of financial consultants to provide 
                            the clients with a legally and financially tenable structure. Our Advisory 
                            and Transaction group combines the expertise of both legal experts and 
                            financial experts to structure a tailor-made transaction keeping in view 
                            the requirements of the Clients. 
                        </p>
                    </div>
                </div>

                
            </div>

            <div class="col-lg-4">
                <div class="practice-details-item">
                    <div class="blog-details-category">
                        <ul>
                            <li><a (click) = "nameOfLaw = 'ADR Law'" >ADR and Arbitration <i class="icofont-arrow-right"></i></a></li>
                            <li><a (click) = "nameOfLaw = 'Labour Law'" >Management and Labour Employment Law <i class="icofont-arrow-right"></i></a></li>
                            <li><a (click) = "nameOfLaw = 'Admin Law'" >Regulatory and Administrative Law <i class="icofont-arrow-right"></i></a></li>
                            <li><a (click) = "nameOfLaw = 'Banking Law'" >Commercial and Banking <i class="icofont-arrow-right"></i></a></li>
                            <li><a (click) = "nameOfLaw = 'Litigation Law'" >Litigation Group <i class="icofont-arrow-right"></i></a></li>
                            <li><a (click) = "nameOfLaw = 'Corporate Law'" >Corporate and Securities <i class="icofont-arrow-right"></i></a></li>
                            <li><a (click) = "nameOfLaw = 'Intellectual Law'" >Intellectual Property <i class="icofont-arrow-right"></i></a></li>
                            <li><a (click) = "nameOfLaw = 'Constitutional Law'" >Constitutional and Public Interest <i class="icofont-arrow-right"></i></a></li>
                            <li><a (click) = "nameOfLaw = 'Estate Law'" >Estate Planning <i class="icofont-arrow-right"></i></a></li>
                            <li><a (click) = "nameOfLaw = 'Advisory Law'" >Advisory and Transaction <i class="icofont-arrow-right"></i></a></li>
                        </ul>
                    </div>

                    <div class="practice-details-contact">
                        <h3>Contact Info</h3>

                        <ul>
                            <li><i class="flaticon-call"></i> <a>Call : 009 231 000 222 72</a></li>
                            <li><i class="flaticon-email"></i> <a href="mailto:admin@walayetlaw.com">admin@walayetlaw.com</a></li>
                            <li><i class="flaticon-pin"></i> Office No 03, Basement Sami Plaza, Opposite Lahore High Court, Rawalpindi Bench, Rawalpindi</li>
                        </ul>
                    </div>

                    <div class="practice-details-brochures">
                        <h3>Brochures</h3>
                        <p>Risus is commodo viverra maecenas accumsan lacus vel facilisis. . Quis is a ipsum suspendisse ultrices gravida</p>
                        <a class="cmn-btn" href="#"><i class="flaticon-download"></i>Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="help-shape">
        <img src="assets/img/home-one/6.png" alt="Shape">
    </div>
</div>