<div class="banner-area banner-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-item">
                            <div class="banner-left">
                                <h1>Attorneys Fight For Your Justice</h1>
                                <p>Our Professional Attorneys are devoted to your Progress & to achieve your Goal. Our Law Firm supports our clients for various versatile cases and to get justice.</p>
                                <a routerLink="/appointment">FREE CONSULTATION <i class="icofont-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="banner-bottom">
            <ul>
                <li><i class="flaticon-leader"></i></li>
                <li>
                    <span>100% Legal</span>
                    <p>Govt Approved</p>
                    <img src="assets/img/home-one/9.png" alt="Shape">
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="help-area pb-70">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="help-item help-left">
                    <img src="assets/img/home-one/5.jpg" alt="Help">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="help-item">
                    <div class="help-right">
                        <h2>We Provide Qualified Attorneys For Your Assistance </h2>
                        <p>Our Whole Team brings a strong and fearless attitude to all the clients they assist. And, to make sure that you win, our team will provide you with High-quality service.</p>
                        <div class="help-inner-left">
                            <ul>
                                <li><i class="flaticon-checkmark"></i> Browse Our Website</li>
                                <li><i class="flaticon-checkmark"></i> Choose Services</li>
                            </ul>
                        </div>

                        <div class="help-inner-right">
                            <ul>
                                <li><i class="flaticon-checkmark"></i> Quick Reply</li>
                                <li><i class="flaticon-checkmark"></i> Best Performances</li>
                            </ul>
                        </div>

                        <div class="help-signature">
                            <img src="assets/img/about/sign.png" alt="Signature" height="130px">
                        </div>

                        <a class="cmn-btn" routerLink="/practice">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="help-shape">
            <img src="assets/img/home-one/6.png" alt="Shape">
        </div>
    </div>
</div>

<section class="expertise-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section-title text-start">
                    <span>OUR EXPERTISE</span>
                    <h2>Law Firm Devoted To Our Clients</h2>
                </div>

               <div class="expertise-item">
                    <ul>
                        <li class="wow fadeInUp" data-wow-delay=".3s">
                            <div class="expertise-icon">
                                <i class="flaticon-experience"></i>
                                <img src="assets/img/home-one/11.png" alt="Shape">
                            </div>
                            <h3>Experience</h3>
                            <p>Our Attorneys are incredibly professional and understand the situation of their clients and encourage them until obtaining victory</p>
                        </li>

                        <li class="wow fadeInUp" data-wow-delay=".4s">
                            <div class="expertise-icon">
                                <i class="flaticon-lawyer"></i>
                                <img src="assets/img/home-one/11.png" alt="Shape">
                            </div>
                            <h3>Skilled Attorney</h3>
                            <p>Our Attorneys are creative and skilled and it helps them to find a huge variety of solution to win</p>
                        </li>

                        <li class="wow fadeInUp" data-wow-delay=".5s">
                            <div class="expertise-icon">
                                <i class="flaticon-balance"></i>
                                <img src="assets/img/home-one/11.png" alt="Shape">
                            </div>
                            <h3>Legal Proces</h3>
                            <p>We maintain all the legal documents and papers and start to reach our destination in a legal way</p>
                        </li>
                    </ul>
               </div>
            </div>

            <div class="col-lg-6">
                <div class="expertise-image">
                    <img src="assets/img/home-one/10.png" alt="Expertise">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="help-area pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section-title text-start">
                    <span>OUR VALUABLE CLIENTS</span>
                    <h2>List Of Our Clients</h2>
                </div>
            </div>
        </div>

            <div class="row">
               <div class="expertise-item wow fadeInUp" data-wow-delay=".3s" style="border-bottom: 100px;"> 
                    <img src="assets/img/clients/wah.png" alt="sc" height="70px">
                    <img src="assets/img/clients/ogdcl.png" alt="ogdcl" height="100px">
                    <img src="assets/img/clients/ztbl.png" alt="ztbl" height="70px">
                    <img style="margin-left: 30px;" src="assets/img/clients/sc.png" alt="sc" height="70px">
                    <img style="margin-left: 30px;" src="assets/img/clients/caa.png" alt="caa" height="100px">
                    <img style="margin-left: 30px;" src="assets/img/clients/pta.png" alt="pta" height="70px">
                    <img style="margin-left: 30px;" src="assets/img/clients/nepra.png" alt="nepra" height="100px">
                    <img src="assets/img/clients/nha.png" alt="nha" height="90px">
                    <img style="margin-left: 30px;" src="assets/img/clients/fwo.jpeg" alt="fwo" height="100px">
                    <img style="margin-left: 30px;" src="assets/img/clients/rc.jpg" alt="rc" height="100px">
                    <img style="margin-left: 30px;" src="assets/img/clients/metro.png" alt="metro" height="70px">
                    <img style="margin-left: 30px;" src="assets/img/clients/petro.jpg" alt="petro" height="90px">
                    <img style="margin-left: 30px;" src="assets/img/clients/amson.png" alt="amson" height="90px">
               </div>
            </div>
        <div class="help-area"></div>
    </div>
</section>

<div class="contact-form pb-100">
    <br /><br />

    <div class="container-fluid">

        <h2 style="text-align: center;">Contact Us</h2>
        <br />
        <form id="contactForm">
            <div class="row contact-wrap">
                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <input type="text" name="name" id="name" class="form-control" placeholder="Your Full Name">
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <input type="email" name="email" id="email" class="form-control" placeholder="Your Email">
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <input type="text" name="phone_number" id="phone_number" class="form-control" placeholder="Your Phone">
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <input type="text" name="msg_subject" id="msg_subject" class="form-control" placeholder="Subject">
                    </div>
                </div>

                <div class="col-md-12 col-lg-12">
                    <div class="form-group">
                        <textarea name="message" class="form-control" id="message" cols="30" rows="8" placeholder="Case Description"></textarea>
                    </div>
                </div>

                <div class="col-md-12 col-lg-12">
                    <div class="text-center">
                        <button type="submit" class="contact-btn">Submit Case</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br /><br />
</div>