<div class="page-title-area title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Appointment</h2>

                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li>Appointment</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<br />

<div class="contact-form contact-form-two contact-form-three">
    <div class="container"> 
        <h2>Get An Appointment</h2>
        <app-contact-form></app-contact-form>
    </div>
</div>